<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTyWeek"
        tools:targetApi="31">
        <activity
            android:name=".microbitvideo1"
            android:exported="false" />
        <activity
            android:name=".scrumteamsettings"
            android:exported="false" />
        <activity
            android:name=".settingshtmlvideo"
            android:exported="false" />
        <activity
            android:name=".settingsinternetsecurityvideo"
            android:exported="false" />
        <activity
            android:name=".settingspythonvideo"
            android:exported="false" />
        <activity
            android:name=".Settingsdatacentertour"
            android:exported="false" />
        <activity
            android:name=".Settingsinternetsecurity"
            android:exported="false" />
        <activity
            android:name=".Settingsmicrobit"
            android:exported="false" />
        <activity
            android:name=".Settingshtml"
            android:exported="false" />
        <activity
            android:name=".SettingsPython"
            android:exported="false" />
        <activity
            android:name=".agileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TYActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>